* {
  margin: 0;
}

body {
  background-color: #f4f4f4;
  font-family: "Noto Sans KR", sans-serif;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}
